@model IEnumerable<WebAutomovil.Models.ClienteCarro>

@{
    ViewData["Title"] = "ListarAsignacion";
}

<h1>ListarAsignacion</h1>

<p>
    <a asp-action="AsignarCarro">Asignar Carro</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarroNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
        @*     <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
